p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 2em;
}

body.legal p,
body.toc p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 1em;
}

body.dedication p {
  text-indent: 0;
  margin-top: 1em;
  text-align: center;
}

p.center {
  text-align: center;
}

.toc-1 {
  margin-left: 1em;
}

.toc-2 {
  margin-left: 2em;
}

/*
 * Chapter Headers
 */
.element-header {
  text-align: center;
  white-space: nowrap;
  font-size: 125%;
}
.element-header .long-bar,
.element-header .short-bar {
  border-bottom: 1.5px solid black;
  display: inline-block;
  height: 0.6em;
}
.element-header .long-bar {
  width: 80%;
}
.element-header .short-bar {
  width: 30%;
}
.element-header .text {
  padding-right: 1em;
  padding-left: 1em;
}

.element-title {
  text-align: center;
}

/*
 * Title
 */
div.title {
  text-align: center;
}
div.title .large {
  font-weight: bold;
  font-size: 200%;
}
div.title .medium {
  font-weight: bold;
  font-size: 150%;
}
div.title .author {
  margin-top: 2rem;
  font-size: 150%;
}
div.title .publisher {
  margin-top: 2rem;
}

/*
 * Epigraphs
 */
blockquote.epigraph {
  font-size: small;
  padding-left: 2em;
  padding-right: 2em;
  word-wrap: break-word;
}
blockquote.epigraph p {
  text-indent: 0;
}
blockquote.epigraph p.attribution {
  text-align: right;
}

/*
 * Paragraphs
 */
span.first-word {
  font-weight: bold;
}
span.first-word span.first-letter {
  font-size: 150%;
}

/*
 * Fonts
 *
 * Because Fedran is a pay-for font, we encrypt it as part of the packaging
 * processing. Source Sans Pro isn't, but we encrypted it anyways to make the
 * pattern of encrypting and decrypting consistent.
 */
@font-face {
  font-family: IPA;
  src: url(./SourceSansPro-Light.otf);
}
@font-face {
  font-family: FedranExtraLight;
  src: url(./SourceSerifPro-ExtraLight.otf);
}
@font-face {
  font-family: FedranExtraLight;
  src: url(./SourceSerifPro-ExtraLightIt.otf);
  font-style: italic;
}
@font-face {
  font-family: FedranExtraLight;
  src: url(./SourceSerifPro-Light.otf);
  font-weight: bold;
}
@font-face {
  font-family: FedranLight;
  src: url(./SourceSerifPro-Light.otf);
}
@font-face {
  font-family: FedranLight;
  src: url(./SourceSerifPro-LightIt.otf);
  font-style: italic;
}
@font-face {
  font-family: FedranLight;
  src: url(./SourceSerifPro-Regular.otf);
  font-weight: bold;
}
@font-face {
  font-family: FedranMedium;
  src: url(./SourceSerifPro-Regular.otf);
}
@font-face {
  font-family: FedranMedium;
  src: url(./SourceSerifPro-It.otf);
  font-style: italic;
}
@font-face {
  font-family: FedranMedium;
  src: url(./SourceSerifPro-Bold.otf);
  font-weight: bold;
}
/*
 * General
 */
body {
  font-size: 12pt;
  font-family: FedranLight;
  padding: 0;
  margin: 0;
}

.element-header .text {
  font-family: FedranMedium;
}

.element-title {
  font-family: FedranMedium;
  font-weight: normal;
}

/*
 * The WeasyPrint-specific rules for use with that application.
 */
@page {
  @top-center {
    font-family: FedranLight;
    font-size: 9pt;
    vertical-align: bottom;
    padding-bottom: 1em;
  }
  @bottom-center {
    font-family: FedranLight;
    font-size: 9pt;
    content: counter(page);
    vertical-align: top;
    padding-top: 1em;
  }
  size: A5 portrait;
  margin: 0.7in 0.47in;
}
@page :right {
  padding-left: 0.47in;
  @top-center {
    content: "Flight of the Scions";
  }
}
@page :left {
  padding-right: 0.47in;
  @top-center {
    content: "D. Moonfire";
  }
}
@page :first {
  @top-center {
    content: "";
  }
}
@page chapter {
  @top-center {
    content: "";
  }
}
@page blank {
  @top-center {
    content: "";
  }
  @bottom-center {
    content: "";
  }
}
body {
  hyphens: manual;
}

/*
 * WeasyPrint has a couple bugs when it comes to running headers and page
 * breaks. These elements are to control how they work.
 */
div.element-page-break {
  page-break-before: always;
}
div.element-page-break.element-page-break-right {
  page: chapter;
  page-break-before: right;
}
div.element-page-break.element-page-break-left {
  page: chapter;
  page-break-before: left;
}
div.element-page-break.element-page-break-blank {
  page: blank;
}
div.element-page-break.element-page-break-legal {
  page: blank;
}
div.element-page-break.element-page-break-title, div.element-page-break.element-page-break-dedication {
  page: blank;
  page-break-before: right;
}

div.element-page-pad-right {
  page-break-after: right;
}

/*
 * Page Specific
 */
div.cover {
  text-align: center;
}
div.cover img {
  width: 80%;
}

div.chapter,
div.appendix,
div.toc,
div.preface,
div.colophon {
  padding-top: 4rem;
}
div.chapter p,
div.appendix p,
div.toc p,
div.preface p,
div.colophon p {
  text-indent: 0.5cm;
  padding: 0;
  margin: 0;
  text-align: justify;
}
div.chapter p:first-of-type,
div.appendix p:first-of-type,
div.toc p:first-of-type,
div.preface p:first-of-type,
div.colophon p:first-of-type {
  text-indent: 0;
}
div.chapter p.single-image,
div.appendix p.single-image,
div.toc p.single-image,
div.preface p.single-image,
div.colophon p.single-image {
  text-indent: 0;
  text-align: center;
}
div.chapter p.single-image img.single-image,
div.appendix p.single-image img.single-image,
div.toc p.single-image img.single-image,
div.preface p.single-image img.single-image,
div.colophon p.single-image img.single-image {
  width: 80%;
}

.element-header .long-bar,
.element-header .short-bar {
  height: 0.7em;
}

h1 {
  font-family: FedranMedium;
  text-align: center;
  font-variant-ligatures: historical-ligatures common-ligatures;
  font-feature-settings: "liga", "dlig";
}
h1.element-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2,
h3 {
  font-family: FedranMedium;
  font-weight: normal;
}

/*
 * Title
 */
div.title {
  text-align: center;
  padding-top: 1in;
}
div.title .title-area {
  height: 3.5in;
  font-family: FedranMedium;
  font-weight: normal;
}
div.title .title-area .large {
  font-size: 0.7in;
}
div.title .title-area .medium {
  font-size: 0.5in;
}
div.title .author {
  margin-top: 0.5in;
  font-family: FedranLight;
  font-weight: normal;
  font-size: 36pt;
}
div.title .publisher {
  margin-top: 0.5in;
  font-family: FedranExtraLight;
  font-weight: normal;
  font-size: 12pt;
}

div.element-bastard .author,
div.element-bastard .publisher {
  display: none;
}

/*
 * Legal
 */
div.legal p {
  text-indent: 0;
  padding: 0 0 1em 0;
}

/*
 * Dedication
 */
div.dedication {
  padding: 1in;
  text-align: center;
}
div.dedication p {
  text-indent: 0;
  padding: 0 0 1em 0;
}

/*
 * License
 */
div#license p {
  text-indent: 0;
}

/*
 * HTML Elements
 */
a {
  text-decoration: none;
  color: black;
}

blockquote.epigraph {
  font-family: FedranExtraLight;
  font-size: 9pt;
  margin: 0 auto 2rem auto;
  width: 4in;
}
blockquote.epigraph .quote {
  padding-bottom: 0.25em;
}
blockquote.epigraph .attribute {
  font-size: 8pt;
}

blockquote.blockquote {
  margin-left: 12pt;
  font-size: 9pt;
}

/*
 * Paragraphs
 */
p {
  line-height: 1.2;
}

span.first-word {
  font-family: FedranMedium;
  font-weight: normal;
  font-variant-ligatures: historical-ligatures common-ligatures;
  font-feature-settings: "liga", "dlig";
}
span.first-word span.first-letter {
  position: relative;
  top: 2pt;
  font-size: 18pt;
  margin-bottom: -2pt;
}

/*
 * Table of Contents
 */
p.toc-1 {
  font-family: FedranMedium;
  margin: 0 !important;
  padding: 0 0 6pt 0 !important;
  line-height: 1 !important;
  text-indent: 0 !important;
  text-align: left;
}

/*
 * Preface
 */
span.ipa,
code {
  font-family: IPA;
  font-size: 12pt;
}div.fake-page { page-break-before: always; }div.fake-right { page-break-before: right; }div.fake-left { page-break-before: left; }
